/*
Theme: Flatfy Theme
Author: Andrea Galanti
Bootstrap Version
Build: 1.0
http://www.andreagalanti.it
*/

/*General */


/* Preloader */
#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:99; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../img/status.gif); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}

/* Animate */
.rotate{
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    overflow:hidden;

    }

.rotate:hover
{
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg);
    -o-transform:rotate(360deg);
}

/* small icons */
.audio-container {
	min-width: 1px;
	max-width: 200px;
	margin: 0;
	z-index: 1;
	width: 100%;   
	border: 1px solid #808080;
	border-radius: 10px;

  }
ul.smicons {
	text-align: center;
	cursor: default;
	list-style: none;
	padding-left: 0;
	margin-top: -0.675em;
}
ul.smicons li {
	display: inline-block;
	padding: 0.675em 0.5em;
}
ul.smicons li a {
	text-decoration: none;
	position: relative;
	display: block;
	width: 1.75em;
	height: 1.75em;
	border-radius: 100%;
	border: solid 1px #808080;
	line-height: 1.75em;
	overflow: hidden;
	text-align: center;
	text-indent: 1.75em;
	white-space: nowrap;
}

ul.smicons li a:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
}
ul.smicons li a:before {
	color: #ffffff;
	text-shadow: 1.25px 0px 0px #808080, -1.25px 0px 0px #808080, 0px 1.25px 0px #808080, 0px -1.25px 0px #808080;

}
ul.smicons li a:hover:before {
	text-shadow: 1.25px 0px 0px red, -1.25px 0px 0px red, 0px 1.25px 0px red, 0px -1.25px 0px red;
}
ul.smicons li a:before {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: inherit;
	font-size: 0.85rem;
	line-height: inherit;
	text-align: center;
	text-indent: 0;
}
ul.smicons li a:hover {
	border-color: red;
}
